.vc-back {
    background: #f9fafb;
}

.work-item {
    position: relative;
    list-style-type: none;
    width: 180px;
    min-height: 126px;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;

}

.work-item > .work-img {
    width: 180px;
    height: 126px;
    border: 2px solid #3ba8c0;
    list-style-type: none;
    border-radius: 4px;

}

.work-item:nth-child(3n+3) {
    margin-right: 0;

}

.work-list {
    margin: 0;
    padding: 0;
    margin: auto;
    width: 600px;
}

.work-item.add > .work-img {
    border: 2px dashed #3ba8c0;
}

.work-item > span {
    display: block;
}

.work-item > span.address {
    padding-bottom: 14px;
    font-family: 'fira_sansultralight_italic', sans-serif;
    font-size: 13px;
    color: #3ba8c0;
    text-align: center;
    margin-top: 10px;
    font-weight: 900;
}

.work-item > span.desc {
    padding-bottom: 42px;
    text-align: center;
    color: #606972;
    font-weight: 900;
    width: 100%;
    font-size: 15px;
    font-family: 'fira_sansultralight_italic', sans-serif;
}

.work-img {
    cursor: pointer;
    z-index: 1;
}

.hover-layer {
    background: rgba(1, 108, 164, 0.75);
    z-index: 2;
    position: absolute;
    height: 129px;
    width: 183px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease .3s;
}

.hover-layer > a {
    text-decoration: none;
    display: inline-block;
    min-width: 50px;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
    padding: 3px;
    margin-left: 50px;
    margin-top: 47px;
}

.hover-layer:hover {
    opacity: 1;
    cursor: pointer;
    border-radius: 4px;
}

.hover-layer:hover a {
    transform: scale(1);
}

.add {
    background: #edf8fc;
}

.add > .work-img > img {
    display: block;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 13px;
}

.add > .work-img > a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: 'fira_sansultralight', sans-serif;
    font-size: 13px;
    color: #3ba8c0;
    font-weight: 600;

}
/* Модальное окно - начало */
.new_popup {
    background: #eff3f7;
    border-radius: 4px;
    float: right;
    font-family: 'fira_sansultralight', sans-serif;
    color: #A9AEB9;
    font-size: 19px;
    width: 364px;
}
.modal-header {
    background-color:#48CBE8;
    border-bottom: 17px solid #51DAF8;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-size: 25px;
    color: white;
}
.b-close {
    background: url("../img/close.png");
    display: inline-block;
    height: 25px;
    width: 25px;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
}
.server-mes {
    margin: 5px 22px 5px 22px;
    box-sizing: border-box;
    padding-left: 6px;
    overflow: hidden;
    font-size: 15px;
    border-radius: 4px;
}
.success-mes {
    background: #b8e1ce;
    border-color: #49bb7b;
    color: #49bb7b;
}
.error-mes {
    background: #fb9da1;
    border: 1px solid #bb0c0c;
    color: #bb0c0c;
}

.form-item  input{
    border-radius: 4px;
    border: 1px solid #48cbe8;
    height: 40px;
    width: 316px;
    text-indent: 1em;
    font-size: 15px;
}
.form-item{
    display: block;
    margin: 0 auto;
    width: 320px;
    margin-bottom: 10px;
}
.fake-input{
    color: #777;
    padding-left: 1.2em;
    line-height: 2.5em;
    font-size: 15px;
    font-family: 'fira_sans', sans-serif;
    opacity: 0.8;
}
.modal-title {
    margin: 0;
}
.area{
    width: 100%;
}
.new-desc{
    width: 316px;
    border: 1px solid #48cbe8;
    border-radius: 4px;
    text-indent: 1em;
    min-height: 2px !important;
    font-size: 15px;
}
.input {
    display: block;
    color: #48cbe8;
    background-color: #fff;
    border: 1px solid rgb(72, 203, 232);
    border-radius: 4px;
    outline: none;
    height: 40px;
    width: 316px;
    margin-left: 22px;
    margin-right: 22px;
}
.input, .textarea{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    padding: 12px 12px;
}
.fileupload-wrapper {
    width: 100%;
    position: relative;
}
.fileupload-lable{
    display: block;
    width: 52px;
    height: 40px;
    position: absolute;
    right: 24px;
    background: url(../img/upload-icon.png) 10px 7px no-repeat;
    background-color: #48cbe8;
    border-radius: 0 4px 4px 0;
}
.fileupload{ /* хак, взятый из html5boilerplate */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.project-img {
    margin-left: 22px;
}
.modal-buttom {
    margin-left: 30%;
    margin-bottom: 20px;
}
#new-progect-popup{
    display: none;
}
/* Модальное окно - начало */